h3{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}



.searchBox{
	margin-top:30px;
	text-align: center;
}
.secTypeBox,.secCompanyBox{
	width:280px;
	height:400px;
	border:1px solid #999;
	box-shadow: 5px 5px 5px #999;
	background-color: white;
	position:absolute;
	left:40%;
	top:20%;
	/*display:none;*/
}
.secTypeBox .allTypeInfo,.secCompanyBox .allCompanyInfo{
	width:95%;
	height:260px;
	margin:10px auto;
	overflow-y: auto;
}
.secTypeBox .allTypeInfo table,.secCompanyBox .allCompanyInfo table{
	width:100%;
	border:1px solid #999;
	border-collapse: collapse;
}
.secTypeBox .allTypeInfo table th,.secTypeBox .allTypeInfo table td,.secCompanyBox .allCompanyInfo table td,.secCompanyBox .allCompanyInfo table th{
	border:1px solid #999;
}