h3{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}
.contentBox{
	width:80%;
	height:460px;
	margin:30px auto 0;
	overflow-y: auto;
}
.mien{
	text-align: center;
}
.mien .mienImgBox .mienImg{
	display:inline-block;
	vertical-align: middle;
}
.mien .mienImgBox img{
	width:120px;
	height:180px;
}
.mien .mienImgBox .moreImg{
	vertical-align: middle;
}
.mien textarea{
	width:60%;
	height:100px;
	resize:none;
	margin-top: 10px;
}
.mien .mienVideoBox .mienVideo{
	display:inline-block;
	vertical-align: middle;
}
.mien .mienVideoBox video{
	width:120px;
	height:180px;
	border:1px solid #999;
}
.mien .mienVideoBox .moreVideo{
	vertical-align: middle;
}
.contentBox .submitBtn{
	width:150px;
	height:40px;
	background-color: rgb(22,155,213);
	border:none;
	border-radius:5px;
	margin-right: 30px;
	margin-top: 30px;
	color:white;
	float:right;
}