h3{
	text-align: center;
	color:#333;
	font-size:22px;
	margin-top:30px;
}
.condition{
	width:90%;
	margin:auto;
	margin-top:30px;
}
.condition td{
	height:40px;
	line-height: 40px;
}
.condition select{
	width:80px;
}
.condition input[type=button]{
	width:150px;
	border:1px solid black;
	border-radius: 5px;
}

.listBox{
	height:250px;
	overflow-y:auto;
}
.userList{
	width:100%;
	border:1px solid #999;
	border-collapse: collapse;
	margin-top:20px;
}
.userList td,.userList th{
	border:1px solid #999;
	text-align: center;
}
