h3{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}
.btnBox{
	height:40px;
	line-height:40px;
	margin-top:20px;
	border:1px solid blue;
}
.btnBox input{
	width:120px;
	height:30px;
	border:1px solid #999;
	border-radius: 5px;
	vertical-align: middle;
	margin-left: 40px;
}
.userDetails{
	width:100%;
	margin-top: 30px;
	border:1px solid red;
}
.userDetails td{
	border:1px solid red;
}
.userDetails img{
	width:180px;
	height:120px;
}
.refuseBox{
	width:400px;
	height:240px;
	border:1px solid #333;
	box-shadow: 5px 5px 5px #333;
	position: absolute;
	left:20%;
	top:30%;
	background-color: white;
	display:none;
}
.refuseBoxBtn{
	text-align: center;
}
.refuseBoxBtn input{
	width:120px;
	height:30px;
	border:1px solid #999;
	border-radius: 5px;
}
.refuseBox textarea{
	display:block;
	width:90%;
	height:150px;
	resize: none;
	margin:10px auto;
	border-radius: 5px;
}